@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden; 
  background-color: #312e81;
}

.bg-gradient-animate {
  background: linear-gradient(-45deg, #020617, #312e81, #be185d, #0ea5e9);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; /* Changes every 10 seconds */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.notyf__toast {
  border-radius: 11px !important;
  padding: 4px 6px;
}

.notyf__message {
  font-size: 17px;
}

.notyf__icon {
  margin-right: 10px;
}
